body
  font-family: 'PingFang SC', 'Microsoft YaHei', '微软雅黑'
  overflow-x: hidden
// bulma extend
.center
  display: flex
  align-items: center
  justify-content: center
.is-fullwidth
  width: 100%
a
  color: #3e3a39
  &:hover
    color: #ee7623
    svg * 
      stroke: currentColor
  &.nuxt-link-active:not([href='/']):not([href='/en/'])
    color: #ee7623
    svg * 
      stroke: currentColor
  &.nuxt-link-exact-active
    color: #ee7623
.container
  @media screen and (min-width: 1472px)
    max-width: 1200px
    width: 1200px
.gray-radial-gradient
  background-image: radial-gradient( #fafafb, #d3d7da)
.brown-radial-gradient
  background-image: radial-gradient( #858585, #3e3a39)  
.theme-background-color
  background-color: #eff3f4 
.white-background-color 
  background-color: #fff 
.orange
  color: #e76c26
.icons
  ul 
    display: flex
    justify-content: flex-end
    .arrow
      margin: 39px 10px 0 10px
    span 
      display: inline-block
      width: 92px
      font-size: 14px
      padding-top :9px
.boderB 
  border-bottom: 10px solid #e8eced     
.section
  &-top
    overflow: hidden
    color: #3e3a39
    background-position: center  
    h2 
      font-size: 36px 
    h3 
      font-size: 28px  
    .title
      color: #3e3a39    
  &-left,&-right
    overflow: hidden
    color: #3e3a39 
    h2 
      font-size: 36px 
    h3 
      font-size: 28px 
    .title
      color: #3e3a39   
.section-mode 
    padding: 20px 0 50px
    overflow: hidden
    .column
      background: #fff  
      background-clip: content-box
      flex-direction: column
      cursor: pointer 
      position: relative
      transition: all 0.5s 
      &:hover
        svg 
          g
            stroke: #ee7623 
        .title    
          color: #ee7623
         &:after
          opacity: 1   
      &:after
        content: ''
        height: 2px
        width: 100% 
        bottom: 0  
        opacity: 0
        background: #e76c26 
        transition: all 0.5s 
      &:last-child
        &:after
          display: none  
      .wrap
        height: 180px
        margin-top:15px
      .title
        font-size: 26px  
        color: #3e3a39x
        margin-bottom: 60px   
